@{
    ViewBag.Title = "Pink Pony";
}

<div class="header" style="max-width:1280px">


    <div class="container-fluid no-padding">

        <div class="row no-padding">

            <!--start - hero image-->
            <div class="hero-img article">

                <div class="top-content">
                    <a href="#"><h4 class="pre-tittle">NEXT <span style="color:#FFF">ARTICLE</span><span class="next-arrow" style="padding-left:5px;"></span></h4></a>
                    <h2>Facts and Myths: <br />Life of a Cancer Patient</h2>
                </div>

                <div class="bottom-content">
                    <h1>
                        Robin Roberts:<br />
                        Her Survival Story
                    </h1>
                </div>


                @*

                    ***********************************************************************
                    IN CASE A HEADER BACKGROUND VIDEO IS BE NEEDED IN A NEAR FUTURE
                    JUST COMMENT OUT THIS SECTION AND REPLACE THE VIDEO & THUMBNAIL LINK
                    ***********************************************************************

                    <!-- Video in background -->
                    <div id='event-video-target'></div>
                    <script src="//jwpsrv.com/library/QFdjbt6rEeKWSxIxOQulpA.js"></script>
                    <script type="text/javascript">
                        var playerInstance = jwplayer("event-video-target");
                        playerInstance.setup({
                            file: "//s3.amazonaws.com/tr-web-v2/videos/UPWNY_TR-only_2000x1124.mp4",
                            image: "//example.com/uploads/myPoster.jpg",
                            width: '100%',
                            height: '100%',
                            autostart: true,
                            controls: false,
                            aspectratio: '16:9',
                            mute: true
                        });
                    </script>
                    <!-- /Video in background -->

                *@

            </div>

            <div class="col-lg-12 no-padding">
                <div class="col-menu-2">
                    <!--Start - Main menu-->
                    <div class="nav-side-menu">
                        <a href="index.html" class="brand"><img src="/Content/images/Pink-Pony-Ralph-Lauren.jpg" alt="Pink Pony Ralph Lauren"></a>
                        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

                        <div class="menu-list">

                            <ul id="menu-content" class="menu-content collapse out">

                                <li data-toggle="collapse" data-target="#stories" class="collapsed">
                                    <a href="#">STORIES<span class="arrow"></span></a>
                                </li>
                                <ul class="sub-menu collapse" id="stories">
                                    <li><a href="#">Storie 1</a></li>
                                    <li><a href="#">Storie 2</a></li>
                                </ul>

                                <li data-toggle="collapse" data-target="#events" class="collapsed">
                                    <a href="#">EVENTS <span class="arrow"></span></a>
                                </li>
                                <ul class="sub-menu collapse" id="events">
                                    <li>Event 1</li>
                                    <li>Event 2</li>
                                </ul>

                                <li data-toggle="collapse" data-target="#learn" class="collapsed">
                                    <a href="#">LEARN<span class="arrow"></span></a>
                                </li>
                                <ul class="sub-menu collapse" id="learn">
                                    <li>Learn 1</li>
                                    <li>Learn 2</li>
                                </ul>

                                <li>
                                    <a href="#">SUPPORT</a>
                                </li>

                                <li>
                                    <a href="#">SHOP</a>
                                </li>

                                <li>
                                    <a href="#">ABOUT PINK PONY</a>
                                </li>

                            </ul>
                        </div>
                    </div><!--nav-side-menu-->
                    <!--End - Main menu-->
                </div><!--"col-menu-->
            </div><!--col-->

        </div>
    </div>

</div>
<!--header container-->
<div class="container">
    <div class="row">


        <div class="col-md-1 col-sm-1" style="position:relative">
            <div class="social"></div>
        </div><!--col-md-8 col-sm-7-->


        <div class="col-md-7 col-sm-6">
            <article>
                <p class="post-date">
                    JUNE 3, 2015 5:46 PM
                </p>
                <p class="by">
                    <pan class="pre-pink">by</pan> CHARLES SCHWAB
                </p>

                <p class="post-title">
                    How a fashion editor’s battle with breast cancer ignited industry alliance and more than a quarter century of support
                </p>

                <p>ast May, on a perfect spring evening across the Atlantic, a host of celebrities and other notable guests gathered at Windsor Castle to celebrate the work of the Royal Marsden hospital and thae announcement of its Ralph Lauren Centre for Breast Cancer Research, spearheaded by a major grant from Ralph Lauren Corporation. It was a night filled with beauty and elegance—a wonderful highlight of Ralph Lauren’s ongoing commitment to the fight against breast cancer, which began 26 years ago.</p>
                <p>Nina Hyde’s brave battle helped spark a fashion industry–wide fight against breast cancer that continues today</p>
                <p>In the mid-1980s, Mr. Lauren’s close friend Nina Hyde, then fashion editor for The Washington Post, was diagnosed with breast cancer. At the time, the disease garnered little attention. (Those suffering from the disease often kept it a secret, as noted by former Susan G. Komen head Susan Braun in “The History of Breast Cancer Advocacy,” published by The Breast Journal in 2003.) But with Mr. Lauren’s help, all of that would change. What began with a donation at a cocktail party eventually grew to become the Nina Hyde Center for Breast Cancer Research at the Georgetown Lombardi Comprehensive Cancer Center at Georgetown University. The Nina Hyde Center, which was established in 1989, now employs more than 50 scientists and physicians to study the disease. And culturally, Hyde’s brave battle helped spark a fashion industry–wide fight against breast cancer that continues today.</p>

                <blockquote>
                    <i class="open-q">“</i>
                    <p>
                        Breast cancer is not just a woman’s<br>
                        issue—it affects all of us. Pink Pony is our effort in the fight against cancer,
                    </p>
                    <p class="people">
                        <span class="name">
                            — Ralph Lauren
                        </span>
                        @*<br /><span class="title"></span>*@
                    </p>
                    <i class="close-q">”</i>
                </blockquote>

                <p>Hyde would tragically succumb to the disease a year after the center opened, but the industry’s battle continued. In 1990, Revlon Chairman Ronald O. Perelman cofounded the Revlon/UCLA Women’s Cancer Research Program at Jonsson Comprehensive Cancer Center, which eventually helped develop Herceptin, the first gene-based treatment for a specific subtype of breast cancer. Two years after that, inspired by the success of the red ribbon campaign to raise HIV and AIDS awareness, Self Editor in Chief Alexandra Penney partnered with Evelyn H. Lauder of Estée Lauder Inc. to develop the now-iconic pink ribbon, which debuted in the magazine’s second-annual breast cancer awareness issue. Then, in 1993, Lauder, along with the highly regarded oncologist Dr. Larry Norton, established the Breast Cancer Research Foundation. Since its founding, the BCRF has helped raise more than half a billion dollars for research and has committed $58.6 million in grants for 222 scientists in 2015 alone.</p>
                <p>Mr. Lauren launched Fashion Targets Breast Cancer to help benefit the Nina Hyde Center in 1994, and during the initial campaign, sales of 400,000 Ralph Lauren FTBC T-shirts raised $2 million for the Nina Hyde Center. Mr. Lauren then entrusted the program’s name and symbol to the Council of Fashion Designers of America/CFDA Foundation, which has helmed the initiative since. Over the years, celebrities like Gisele Bündchen, Cindy Crawford, Kylie Minogue and Maria Sharapova have lent their image to FTBC.</p>
                <p>What began with a donation at a cocktail party grew to become the Nina Hyde Center and a fashion industry–wide fight against breast cancer.</p>
                <p>In 2000, Mr. Lauren opened up another front in the fight against breast cancer with the successful Pink Pony Campaign, a worldwide initiative dedicated to supporting cancer programs and bringing cancer care to underserved communities.Additionally, in 2001, he partnered with Dr. Harold P. Freeman and Memorial Sloan Kettering Cancer Center to open a second breast cancer facility in the United States, the Ralph Lauren Center for Cancer Care and Prevention, in East Harlem, New York. The second center in Mr. Lauren’s 26-year-long commitment to the fight against cancer.</p>
                <p>Which brings us to the present day. Later this year, when the new 3132-square-foot Ralph Lauren Centre for Breast Cancer Research at the Royal Marsden in London opens its doors, it will mark the third cancer center that Mr. Lauren has helped to establish—and yet another step forward in the breast cancer fight. And, perhaps most important, it will serve as one more ray of hope for the millions living with the disease.</p>

                
                <div class="author">
                    <div class="pic">
                        <img src="/Content/images/author-pic.jpg" />
                    </div>
                    <div class="details">
                        <h4>scott christian</h4>
                        <p>writer <span>|</span> ralph lauren magazine</p>
                        <a href="#">MORE ARTICLES<span class="next-arrow"></span></a>
                    </div>                    
                </div><!--author-->
                <div class="add-comment"></div>

            </article>
        </div><!--col-md-8 col-sm-7-->
        <!--ADS BANNERS - RIGHT-->
        <div class="col-md-4 col-sm-5">
            <a href="#"><img src="/Content/images/ads.jpg" /></a>
        </div><!--col-md-4 col-sm-5-->


    </div><!--row-->
</div>
<!--main container-->
