@{
    ViewBag.Title = "Pink Pony";
}

<div class="header" style="max-width:1280px">


    <div class="container-fluid no-padding">

        <div class="row no-padding">

            <!--start - hero image-->
            <div class="hero-img article">

                <div class="top-content">
                    <a href="#"><h4 class="pre-tittle">NEXT <span style="color:#FFF">ARTICLE</span><span class="next-arrow" style="padding-left:5px;"></span></h4></a>
                </div>

                <div class="bottom-content">
                    <h1>
                        Robin Roberts:<br />
                        Her Survival Story
                    </h1>
                </div>
                <div class="pink-gradient" style="opacity:0.5"></div>

                <!-- Video in background -->
                <div id='event-video-target'></div>
                <script src="//jwpsrv.com/library/QFdjbt6rEeKWSxIxOQulpA.js"></script>
                <script type="text/javascript">
                    var playerInstance = jwplayer("event-video-target");
                    playerInstance.setup({
                        file: "https://s3.amazonaws.com/tr-web-v2/videos/UPWNY_TR-only_2000x1124.mp4",
                        image: "http://example.com/uploads/myPoster.jpg",
                        width: '100%',
                        height: '100%',
                        autostart: true,
                        controls: false,
                        mute:true
                    });
                </script>
                <!-- /Video in background -->

            </div>

            <div class="col-lg-12 no-padding">
                <div class="col-menu-2">
                    <!--Start - Main menu-->
                    <div class="nav-side-menu">
                        <a href="index.html" class="brand"><img src="/Content/images/Pink-Pony-Ralph-Lauren.jpg" alt="Pink Pony Ralph Lauren"></a>
                        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

                        <div class="menu-list">

                            <ul id="menu-content" class="menu-content collapse out">

                                <li data-toggle="collapse" data-target="#stories" class="collapsed">
                                    <a href="#">STORIES<span class="arrow"></span></a>
                                </li>
                                <ul class="sub-menu collapse" id="stories">
                                    <li><a href="#">Storie 1</a></li>
                                    <li><a href="#">Storie 2</a></li>
                                </ul>

                                <li data-toggle="collapse" data-target="#events" class="collapsed">
                                    <a href="#">EVENTS <span class="arrow"></span></a>
                                </li>
                                <ul class="sub-menu collapse" id="events">
                                    <li>Event 1</li>
                                    <li>Event 2</li>
                                </ul>

                                <li data-toggle="collapse" data-target="#learn" class="collapsed">
                                    <a href="#">LEARN<span class="arrow"></span></a>
                                </li>
                                <ul class="sub-menu collapse" id="learn">
                                    <li>Learn 1</li>
                                    <li>Learn 2</li>
                                </ul>

                                <li>
                                    <a href="#">SUPPORT</a>
                                </li>

                                <li>
                                    <a href="#">SHOP</a>
                                </li>

                                <li>
                                    <a href="#">ABOUT PINK PONY</a>
                                </li>

                            </ul>
                        </div>
                    </div><!--nav-side-menu-->
                    <!--End - Main menu-->
                </div><!--"col-menu-->
            </div><!--col-->

        </div>
    </div>

</div>
<!--header container-->
<div class="container">
    <div class="row">


        <div class="col-md-1 col-sm-1" style="position:relative">
            <div class="social"></div>
        </div><!--col-md-8 col-sm-7-->


        <div class="col-md-7 col-sm-6">
            <article>
                <p class="post-date">
                    JUNE 3, 2015 5:46 PM
                </p>
                <p class="by">
                    <pan class="pre-pink">by</pan> CHARLES SCHWAB
                </p>

                <p>After facing cancer twice, Robin Roberts is not only still standing, she's stronger than ever. &quot;I feel like I am a walking miracle,&quot; the Good Morning America anchor and breast cancer survivor tells PEOPLE exclusively in this week's issue. </p>
                <p>Speaking more candidly than ever before, Roberts, 53, opened up about the challenges she faced after she was diagnosed with a blood and bone marrow disease called myelodysplastic syndrome in 2012. </p>
                <p>&quot;A doctor told me I had one to two years to live without a transplant,&quot; she says, and explains why she is speaking now about all of the people who loved her through it, including her girlfriend of nine years, Amber Laign.</p>

                <blockquote>
                    <i class="open-q">“</i>
                    <p>

                        Even though Amber is someone<br>
                        who shies away from the spotlight,<br>
                        it was important for me to let people know I have this person in my life,

                    </p>
                    <p class="people"><span class="name">- Roberts</span><br /><span class="title"></span></p>
                    <br class="clearfix" />
                    <i class="close-q">”</i>
                </blockquote>

                <p>Keep up with your favorite celebs in the pages of PEOPLE Magazine by subscribing now. &quot;How could I not?&quot; says Roberts about acknowledging (in her upcoming memoir Everybody's Got Something and in a Facebook post last December) 39-year-old Laign's role as her caregiver. </p>
                <p>&quot;Even though Amber is someone who shies away from the spotlight, it was important for me to let people know I have this person in my life,&quot; Roberts, who also prefers to be private, tells PEOPLE. </p>
                <p>Roberts also revealed she still receives low-intensity chemotherapy shots every six to eight weeks and will continue to do so until the second anniversary of her bone marrow transplant later this year. </p>
                <p>Though there is a risk of a relapse, Roberts says, &quot;I look at what I did as a cure, not just as a stopgap measure. I have to hold onto that. Otherwise it would rob me of who I am.&quot; So far Roberts, who returned to the air last year, seems to be in the clear.</p>

                <div class="add-comment"></div>
                <div class="author">
                    <div class="pic">
                        <img src="/Content/images/author-pic.jpg" />
                    </div>
                    <div class="details">
                        <h4>ROBIN ROBERTS</h4>
                        <p>ANCHOR <span>|</span> GOOD MORNING AMERICA</p>
                        <a href="#">NEXT ARTICLE<span class="next-arrow"></span></a>
                    </div>

                </div>

            </article>
        </div><!--col-md-8 col-sm-7-->
        <!--ADS BANNERS - RIGHT-->
        <div class="col-md-4 col-sm-5">
            <a href="#"><img src="/Content/images/ads.jpg" /></a>
        </div><!--col-md-4 col-sm-5-->


    </div><!--row-->
</div>
<!--main container-->
