@{
    ViewBag.Title = "Pink Pony";
}

<div class="header" style="max-width:1280px">


    <div class="container-fluid no-padding">

        <div class="row no-padding">

            <!--start - hero image-->
            <div class="hero-img article">

                <div class="top-content">
                    <a href="#"><h4 class="pre-tittle">NEXT <span style="color:#FFF">ARTICLE</span><span class="next-arrow" style="padding-left:5px;"></span></h4></a>
                </div>

                <div class="bottom-content">
                    <h1>
                        Robin Roberts:<br />
                        Her Survival Story
                    </h1>
                </div>
                <div class="pink-gradient" style="opacity:0.5"></div>

                <!-- Video in background -->
                                                @*
                <div id='event-video-target'></div>
                                                *@
                <div class="jwplayer aspectMode playlist-none jw-user-inactive" id="event-video-target" tabindex="0" style="width: 100%; display: inline-block; opacity: 1; background-color: rgb(0, 0, 0);"><div class="jwclick" id="event-video-target_menu" style="display: none;"><div class="jwclick_item">About JW Player 6.12.4956 (Premium edition)</div></div><span class="jwmain" id="event-video-target_view"><span class="jwvideo" id="event-video-target_media" style="opacity: 1; visibility: visible;"><video x-webkit-airplay="allow" webkit-playsinline="" src="https://s3.amazonaws.com/tr-web-v2/videos/UPWNY_TR-only_2000x1124.mp4" style="transform: scale(0.675, 0.676156583629893); -webkit-transform: scale(0.675, 0.676156583629893); left: -325px; right: -325px; width: 2000px; height: 1124px; bottom: -182px; top: -182px;"></video></span><span class="jwcontrols"><div id="event-video-target_caption" class="jwcaptions"><div style="display: none; height: auto; position: absolute; bottom: 20px; text-align: center; width: 100%;"><div style="display: inline-block;"><span style="color: rgb(255, 255, 255); display: inline-block; font-family: Arial, sans-serif; font-style: normal; font-weight: normal; text-align: center; text-decoration: none; word-wrap: break-word; background-color: rgb(0, 0, 0);"></span></div></div></div><div id="event-video-target_display" class="jwdisplay"><div class="jwpreview jwuniform"></div><div class="jwdisplayIcon" id="event-video-target_display_button" style="opacity: 0; display: table; left: 0.5px; background-size: 18px 100%, 36px 100%, 18px 100%;"><div class="jwtext" style="display: none;"></div><div class="jwicon" id="event-video-target_display_button_buffer" style="transform: rotate(0deg); -webkit-transform: rotate(0deg);"></div></div></div><img class="jwlogo" id="event-video-target_logo" style="display: none; visibility: visible; opacity: 1;"><div class="jwdock" id="event-video-target_dock"><div class="jwdockbuttons"><div class="capLeft"></div><div class="capRight"></div></div></div><span id="event-video-target_controlbar" class="jwcontrolbar" style="height: 30px; bottom: 10px; left: 10px; right: 10px; max-width: 800px;"><span class="jwbackground">&nbsp;</span><span class="jwcapLeft">&nbsp;</span><span class="jwgroup jwleft"><span class="jwplay jwtoggle"><span><button tabindex="-1" type="button">&nbsp;</button></span><span class="jwblankDivider"></span></span><span class="jwprev" style="display: none;"><span><button tabindex="-1" type="button">&nbsp;</button></span><span class="jwblankDivider"></span></span><span class="jwnext" style="display: none;"><span><button tabindex="-1" type="button">&nbsp;</button></span><span class="jwblankDivider"></span></span><span id="event-video-target_controlbar_elapsed" class="jwtext jwelapsed jwhidden" style="background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAeCAYAAAAPSW++AAAAD0lEQVQoU2NgGAWjYKQAAALuAAGL6/H9AAAAAElFTkSuQmCC) 50% 50% / 1px 30px repeat-x;">00:03</span></span><span class="jwgroup jwcenter"><span class="jwslider jwtime" style="display: block;"><span class="jwtimeSliderCapLeft">&nbsp;</span><span class="jwrail"><span class="jwrailgroup Rail"><span class="jwtimeSliderRailCapLeft">&nbsp;</span><span class="jwtimeSliderRail">&nbsp;</span><span class="jwtimeSliderRailCapRight jwcapRight">&nbsp;</span></span><span class="jwrailgroup Buffer" style="width: 23%; opacity: 1;"><span class="jwtimeSliderBufferCapLeft">&nbsp;</span><span class="jwtimeSliderBuffer">&nbsp;</span><span class="jwtimeSliderBufferCapRight jwcapRight">&nbsp;</span></span><span class="jwprogressOverflow" style="width: 10.1226993865031%; opacity: 1;"><span class="jwrailgroup Progress"><span class="jwtimeSliderProgressCapLeft">&nbsp;</span><span class="jwtimeSliderProgress">&nbsp;</span><span class="jwtimeSliderProgressCapRight jwcapRight">&nbsp;</span></span></span><span class="jwtimeSliderThumb jwthumb" style="margin-left: -7px; left: 10.1226993865031%; opacity: 1;">&nbsp;</span><div class="jwoverlay" id="event-video-target_controlbar_timetooltip" style="padding: 5px 8px 7px;"><div class="jwarrow" style="position: absolute; bottom: 0px; width: 12px; height: 2px; left: 50%; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAACCAYAAABsfz2XAAAAEklEQVR42mP8//8/AymAkVQNAKxXBf28v71oAAAAAElFTkSuQmCC) 50% 50% / 12px 2px;"></div><div class="jwborder jwtopleft" style="width: 8px; height: 4px; top: 0px; left: 0px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAECAYAAACzzX7wAAAAKklEQVR4AWMAgfDEbEUgngPEN4H4GTIGSSoD8Q2EIKaCOSAGPgU38SkAAMC4PNRpp1WXAAAAAElFTkSuQmCC) 50% 50% / 8px 4px;"></div><div class="jwborder jwbottomleft" style="width: 8px; height: 4px; bottom: 2px; left: 0px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAECAYAAACzzX7wAAAAJElEQVR4AWMIT8y+CcTPcGGQgjmEFKgA8Q18CkBYGWrSLXQFACgvPfv57OSPAAAAAElFTkSuQmCC) 50% 50% / 8px 4px;"></div><div class="jwborder jwtopright" style="width: 8px; height: 4px; top: 0px; right: 0px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAECAYAAACzzX7wAAAAJ0lEQVQIW2MIT8x+hoZvAvEcIFZkAAEsCmD4BhAr41MAwnMIKbgNACzFPNb81cASAAAAAElFTkSuQmCC) 50% 50% / 8px 4px;"></div><div class="jwborder jwbottomright" style="width: 8px; height: 4px; bottom: 2px; right: 0px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAECAYAAACzzX7wAAAAI0lEQVR4AWMIT8x+hgffJqRgDj4FN4BYBZuCWyCdQKwMxAwAdNc9/fNuUQkAAAAASUVORK5CYII=) 50% 50% / 8px 4px;"></div><div class="jwborder jwleft" style="width: 8px; left: 0px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAACCAYAAABllJ3tAAAAEUlEQVR4AWMIT8x+hg8TVAAAJVYgkaI4kHwAAAAASUVORK5CYII=) 50% 50% / 8px 2px;"></div><div class="jwborder jwright" style="width: 8px; right: 0px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAACCAYAAABllJ3tAAAAEUlEQVR4AWMIT8x+hg8TVAAAJVYgkaI4kHwAAAAASUVORK5CYII=) 50% 50% / 8px 2px;"></div><div class="jwborder jwtop" style="height: 4px; top: 0px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAECAYAAAC6Jt6KAAAAEUlEQVR4AWMIT8x+RgoehBoAPydhsboAB+sAAAAASUVORK5CYII=) 50% 50% / 12px 4px;"></div><div class="jwborder jwbottom" style="height: 4px; bottom: 2px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAECAYAAAC6Jt6KAAAAEUlEQVR4AWMIT8x+RgoehBoAPydhsboAB+sAAAAASUVORK5CYII=) 50% 50% / 12px 4px;"></div><div class="jwback" style="left: 8px; right: 8px; top: 4px; bottom: 6px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAACCAYAAABsfz2XAAAAEUlEQVR4AWMIT8x+RgomWQMARa0w2QoMJSQAAAAASUVORK5CYII=) 50% 50% / 12px 2px;"></div><div class="jwcontents"><div><div id="event-video-target_controlbar_thumb" style="display: none;"></div><div class="jwoverlaytext">00:00</div></div></div></div></span><span class="jwtimeSliderCapRight">&nbsp;</span></span><span id="event-video-target_controlbar_alt" class="jwtext jwalt" style="display: none; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAeCAYAAAAPSW++AAAAD0lEQVQoU2NgGAWjYKQAAALuAAGL6/H9AAAAAElFTkSuQmCC) 50% 50% / 1px 30px repeat-x;"></span></span><span class="jwgroup jwright" style="right: 5px;"><span id="event-video-target_controlbar_duration" class="jwtext jwduration jwhidden" style="background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAeCAYAAAAPSW++AAAAD0lEQVQoU2NgGAWjYKQAAALuAAGL6/H9AAAAAElFTkSuQmCC) 50% 50% / 1px 30px repeat-x;">00:32</span><span class="jwhd" style="display: none;"><span class="jwblankDivider"></span><span><button tabindex="-1" type="button">&nbsp;</button></span><div class="jwoverlay" id="event-video-target_controlbar_hd_overlay" style="padding: 5px 8px 7px; left: 50%;"><div class="jwarrow" style="position: absolute; bottom: 0px; width: 12px; height: 2px; left: 50%; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAACCAYAAABsfz2XAAAAEklEQVR42mP8//8/AymAkVQNAKxXBf28v71oAAAAAElFTkSuQmCC) 50% 50% / 12px 2px;"></div><div class="jwborder jwtopleft" style="width: 8px; height: 4px; top: 0px; left: 0px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAECAYAAACzzX7wAAAAKklEQVR4AWMAgfDEbEUgngPEN4H4GTIGSSoD8Q2EIKaCOSAGPgU38SkAAMC4PNRpp1WXAAAAAElFTkSuQmCC) 50% 50% / 8px 4px;"></div><div class="jwborder jwbottomleft" style="width: 8px; height: 4px; bottom: 2px; left: 0px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAECAYAAACzzX7wAAAAJElEQVR4AWMIT8y+CcTPcGGQgjmEFKgA8Q18CkBYGWrSLXQFACgvPfv57OSPAAAAAElFTkSuQmCC) 50% 50% / 8px 4px;"></div><div class="jwborder jwtopright" style="width: 8px; height: 4px; top: 0px; right: 0px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAECAYAAACzzX7wAAAAJ0lEQVQIW2MIT8x+hoZvAvEcIFZkAAEsCmD4BhAr41MAwnMIKbgNACzFPNb81cASAAAAAElFTkSuQmCC) 50% 50% / 8px 4px;"></div><div class="jwborder jwbottomright" style="width: 8px; height: 4px; bottom: 2px; right: 0px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAECAYAAACzzX7wAAAAI0lEQVR4AWMIT8x+hgffJqRgDj4FN4BYBZuCWyCdQKwMxAwAdNc9/fNuUQkAAAAASUVORK5CYII=) 50% 50% / 8px 4px;"></div><div class="jwborder jwleft" style="width: 8px; left: 0px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAACCAYAAABllJ3tAAAAEUlEQVR4AWMIT8x+hg8TVAAAJVYgkaI4kHwAAAAASUVORK5CYII=) 50% 50% / 8px 2px;"></div><div class="jwborder jwright" style="width: 8px; right: 0px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAACCAYAAABllJ3tAAAAEUlEQVR4AWMIT8x+hg8TVAAAJVYgkaI4kHwAAAAASUVORK5CYII=) 50% 50% / 8px 2px;"></div><div class="jwborder jwtop" style="height: 4px; top: 0px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAECAYAAAC6Jt6KAAAAEUlEQVR4AWMIT8x+RgoehBoAPydhsboAB+sAAAAASUVORK5CYII=) 50% 50% / 12px 4px;"></div><div class="jwborder jwbottom" style="height: 4px; bottom: 2px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAECAYAAAC6Jt6KAAAAEUlEQVR4AWMIT8x+RgoehBoAPydhsboAB+sAAAAASUVORK5CYII=) 50% 50% / 12px 4px;"></div><div class="jwback" style="left: 8px; right: 8px; top: 4px; bottom: 6px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAACCAYAAABsfz2XAAAAEUlEQVR4AWMIT8x+RgomWQMARa0w2QoMJSQAAAAASUVORK5CYII=) 50% 50% / 12px 2px;"></div><div class="jwcontents"><div class="jwmenu" id="event-video-target_controlbar_hd"></div></div></div></span><span class="jwcc" style="display: none;"><span class="jwblankDivider"></span><span><button tabindex="-1" type="button">&nbsp;</button></span><div class="jwoverlay" id="event-video-target_controlbar_cc_overlay" style="padding: 5px 8px 7px; left: 50%;"><div class="jwarrow" style="position: absolute; bottom: 0px; width: 12px; height: 2px; left: 50%; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAACCAYAAABsfz2XAAAAEklEQVR42mP8//8/AymAkVQNAKxXBf28v71oAAAAAElFTkSuQmCC) 50% 50% / 12px 2px;"></div><div class="jwborder jwtopleft" style="width: 8px; height: 4px; top: 0px; left: 0px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAECAYAAACzzX7wAAAAKklEQVR4AWMAgfDEbEUgngPEN4H4GTIGSSoD8Q2EIKaCOSAGPgU38SkAAMC4PNRpp1WXAAAAAElFTkSuQmCC) 50% 50% / 8px 4px;"></div><div class="jwborder jwbottomleft" style="width: 8px; height: 4px; bottom: 2px; left: 0px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAECAYAAACzzX7wAAAAJElEQVR4AWMIT8y+CcTPcGGQgjmEFKgA8Q18CkBYGWrSLXQFACgvPfv57OSPAAAAAElFTkSuQmCC) 50% 50% / 8px 4px;"></div><div class="jwborder jwtopright" style="width: 8px; height: 4px; top: 0px; right: 0px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAECAYAAACzzX7wAAAAJ0lEQVQIW2MIT8x+hoZvAvEcIFZkAAEsCmD4BhAr41MAwnMIKbgNACzFPNb81cASAAAAAElFTkSuQmCC) 50% 50% / 8px 4px;"></div><div class="jwborder jwbottomright" style="width: 8px; height: 4px; bottom: 2px; right: 0px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAECAYAAACzzX7wAAAAI0lEQVR4AWMIT8x+hgffJqRgDj4FN4BYBZuCWyCdQKwMxAwAdNc9/fNuUQkAAAAASUVORK5CYII=) 50% 50% / 8px 4px;"></div><div class="jwborder jwleft" style="width: 8px; left: 0px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAACCAYAAABllJ3tAAAAEUlEQVR4AWMIT8x+hg8TVAAAJVYgkaI4kHwAAAAASUVORK5CYII=) 50% 50% / 8px 2px;"></div><div class="jwborder jwright" style="width: 8px; right: 0px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAACCAYAAABllJ3tAAAAEUlEQVR4AWMIT8x+hg8TVAAAJVYgkaI4kHwAAAAASUVORK5CYII=) 50% 50% / 8px 2px;"></div><div class="jwborder jwtop" style="height: 4px; top: 0px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAECAYAAAC6Jt6KAAAAEUlEQVR4AWMIT8x+RgoehBoAPydhsboAB+sAAAAASUVORK5CYII=) 50% 50% / 12px 4px;"></div><div class="jwborder jwbottom" style="height: 4px; bottom: 2px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAECAYAAAC6Jt6KAAAAEUlEQVR4AWMIT8x+RgoehBoAPydhsboAB+sAAAAASUVORK5CYII=) 50% 50% / 12px 4px;"></div><div class="jwback" style="left: 8px; right: 8px; top: 4px; bottom: 6px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAACCAYAAABsfz2XAAAAEUlEQVR4AWMIT8x+RgomWQMARa0w2QoMJSQAAAAASUVORK5CYII=) 50% 50% / 12px 2px;"></div><div class="jwcontents"><div class="jwmenu" id="event-video-target_controlbar_cc"></div></div></div></span><span class="jwmute jwtoggle"><span class="jwblankDivider"></span><span><button tabindex="-1" type="button">&nbsp;</button></span><div class="jwoverlay" id="event-video-target_controlbar_volumeoverlay" style="padding: 5px 8px 7px; left: 50%; display: block;"><div class="jwarrow" style="position: absolute; bottom: 0px; width: 12px; height: 2px; left: 50%; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAACCAYAAABsfz2XAAAAEklEQVR42mP8//8/AymAkVQNAKxXBf28v71oAAAAAElFTkSuQmCC) 50% 50% / 12px 2px;"></div><div class="jwborder jwtopleft" style="width: 8px; height: 4px; top: 0px; left: 0px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAECAYAAACzzX7wAAAAKklEQVR4AWMAgfDEbEUgngPEN4H4GTIGSSoD8Q2EIKaCOSAGPgU38SkAAMC4PNRpp1WXAAAAAElFTkSuQmCC) 50% 50% / 8px 4px;"></div><div class="jwborder jwbottomleft" style="width: 8px; height: 4px; bottom: 2px; left: 0px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAECAYAAACzzX7wAAAAJElEQVR4AWMIT8y+CcTPcGGQgjmEFKgA8Q18CkBYGWrSLXQFACgvPfv57OSPAAAAAElFTkSuQmCC) 50% 50% / 8px 4px;"></div><div class="jwborder jwtopright" style="width: 8px; height: 4px; top: 0px; right: 0px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAECAYAAACzzX7wAAAAJ0lEQVQIW2MIT8x+hoZvAvEcIFZkAAEsCmD4BhAr41MAwnMIKbgNACzFPNb81cASAAAAAElFTkSuQmCC) 50% 50% / 8px 4px;"></div><div class="jwborder jwbottomright" style="width: 8px; height: 4px; bottom: 2px; right: 0px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAECAYAAACzzX7wAAAAI0lEQVR4AWMIT8x+hgffJqRgDj4FN4BYBZuCWyCdQKwMxAwAdNc9/fNuUQkAAAAASUVORK5CYII=) 50% 50% / 8px 4px;"></div><div class="jwborder jwleft" style="width: 8px; left: 0px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAACCAYAAABllJ3tAAAAEUlEQVR4AWMIT8x+hg8TVAAAJVYgkaI4kHwAAAAASUVORK5CYII=) 50% 50% / 8px 2px;"></div><div class="jwborder jwright" style="width: 8px; right: 0px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAACCAYAAABllJ3tAAAAEUlEQVR4AWMIT8x+hg8TVAAAJVYgkaI4kHwAAAAASUVORK5CYII=) 50% 50% / 8px 2px;"></div><div class="jwborder jwtop" style="height: 4px; top: 0px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAECAYAAAC6Jt6KAAAAEUlEQVR4AWMIT8x+RgoehBoAPydhsboAB+sAAAAASUVORK5CYII=) 50% 50% / 12px 4px;"></div><div class="jwborder jwbottom" style="height: 4px; bottom: 2px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAECAYAAAC6Jt6KAAAAEUlEQVR4AWMIT8x+RgoehBoAPydhsboAB+sAAAAASUVORK5CYII=) 50% 50% / 12px 4px;"></div><div class="jwback" style="left: 8px; right: 8px; top: 4px; bottom: 6px; background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAACCAYAAABsfz2XAAAAEUlEQVR4AWMIT8x+RgomWQMARa0w2QoMJSQAAAAASUVORK5CYII=) 50% 50% / 12px 2px;"></div><div class="jwcontents"><span class="jwslider jwvolume jwvertical"><span class="jwvolumeCapTop">&nbsp;</span><span class="jwrail"><span class="jwrailgroup Rail"><span class="jwvolumeRailCapTop">&nbsp;</span><span class="jwvolumeRail">&nbsp;</span><span class="jwvolumeRailCapBottom jwcapBottom">&nbsp;</span></span><span class="jwrailgroup Progress" style="height: 0%; bottom: 0px;"><span class="jwvolumeProgressCapTop">&nbsp;</span><span class="jwvolumeProgress">&nbsp;</span><span class="jwvolumeProgressCapBottom jwcapBottom">&nbsp;</span><span class="jwvolumeThumb jwthumb" style="top: 0px;">&nbsp;</span></span></span><span class="jwvolumeCapBottom jwcapBottom">&nbsp;</span></span></div></div></span><span class="jwslider jwvolumeH jwhorizontal" style="display: none;"><span class="jwrail"><span class="jwrailgroup Rail"><span class="jwvolumeHRailCapLeft">&nbsp;</span><span class="jwvolumeHRail">&nbsp;</span><span class="jwvolumeHRailCapRight jwcapRight">&nbsp;</span></span><span class="jwprogressOverflow" style="width: 0%; opacity: 0;"><span class="jwrailgroup Progress"><span class="jwvolumeHProgressCapLeft">&nbsp;</span><span class="jwvolumeHProgress">&nbsp;</span><span class="jwvolumeHProgressCapRight jwcapRight">&nbsp;</span></span></span></span></span><span class="jwcast jwtoggle"><span class="jwblankDivider"></span><span><button tabindex="-1" type="button">&nbsp;</button></span></span><span class="jwfullscreen"><span class="jwblankDivider"></span><span><button tabindex="-1" type="button">&nbsp;</button></span></span></span><span class="jwcapRight">&nbsp;</span></span></span><span class="jwinstream"></span><div id="event-video-target_jwpsrv" style="position: absolute; top: 0px; z-index: 10;"><div class="afs_ads" style="width: 1px; height: 1px; position: absolute; background: transparent;">&nbsp;</div></div></span><span class="jwaspect"></span><span class="jwplaylistcontainer"></span></div>
                <script src="//jwpsrv.com/library/QFdjbt6rEeKWSxIxOQulpA.js"></script>
                <!-- /Video in background -->

            </div>

            <div class="col-lg-12 no-padding">
                <div class="col-menu-2">
                    <!--Start - Main menu-->
                    <div class="nav-side-menu">
                        <a href="index.html" class="brand"><img src="/Content/images/Pink-Pony-Ralph-Lauren.jpg" alt="Pink Pony Ralph Lauren"></a>
                        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

                        <div class="menu-list">

                            <ul id="menu-content" class="menu-content collapse out">

                                <li data-toggle="collapse" data-target="#stories" class="collapsed">
                                    <a href="#">STORIES<span class="arrow"></span></a>
                                </li>
                                <ul class="sub-menu collapse" id="stories">
                                    <li><a href="#">Storie 1</a></li>
                                    <li><a href="#">Storie 2</a></li>
                                </ul>

                                <li data-toggle="collapse" data-target="#events" class="collapsed">
                                    <a href="#">EVENTS <span class="arrow"></span></a>
                                </li>
                                <ul class="sub-menu collapse" id="events">
                                    <li>Event 1</li>
                                    <li>Event 2</li>
                                </ul>

                                <li data-toggle="collapse" data-target="#learn" class="collapsed">
                                    <a href="#">LEARN<span class="arrow"></span></a>
                                </li>
                                <ul class="sub-menu collapse" id="learn">
                                    <li>Learn 1</li>
                                    <li>Learn 2</li>
                                </ul>

                                <li>
                                    <a href="#">SUPPORT</a>
                                </li>

                                <li>
                                    <a href="#">SHOP</a>
                                </li>

                                <li>
                                    <a href="#">ABOUT PINK PONY</a>
                                </li>

                            </ul>
                        </div>
                    </div><!--nav-side-menu-->
                    <!--End - Main menu-->
                </div><!--"col-menu-->
            </div><!--col-->

        </div>
    </div>

</div>
<!--header container-->
<div class="container">
    <div class="row">


        <div class="col-md-1 col-sm-1" style="position:relative">
            <div class="social"></div>
        </div><!--col-md-8 col-sm-7-->


        <div class="col-md-7 col-sm-6">
            <article>
                <p class="post-date">
                    JUNE 3, 2015 5:46 PM
                </p>
                <p class="by">
                    <pan class="pre-pink">by</pan> CHARLES SCHWAB
                </p>

                <p>After facing cancer twice, Robin Roberts is not only still standing, she's stronger than ever. &quot;I feel like I am a walking miracle,&quot; the Good Morning America anchor and breast cancer survivor tells PEOPLE exclusively in this week's issue. </p>
                <p>Speaking more candidly than ever before, Roberts, 53, opened up about the challenges she faced after she was diagnosed with a blood and bone marrow disease called myelodysplastic syndrome in 2012. </p>
                <p>&quot;A doctor told me I had one to two years to live without a transplant,&quot; she says, and explains why she is speaking now about all of the people who loved her through it, including her girlfriend of nine years, Amber Laign.</p>

                <blockquote>
                    <i class="open-q">“</i>
                    <p>

                        Even though Amber is someone<br>
                        who shies away from the spotlight,<br>
                        it was important for me to let people know I have this person in my life,

                    </p>
                    <p class="people"><span class="name">- Roberts</span><br /><span class="title"></span></p>
                    <br class="clearfix" />
                    <i class="close-q">”</i>
                </blockquote>

                <p>Keep up with your favorite celebs in the pages of PEOPLE Magazine by subscribing now. &quot;How could I not?&quot; says Roberts about acknowledging (in her upcoming memoir Everybody's Got Something and in a Facebook post last December) 39-year-old Laign's role as her caregiver. </p>
                <p>&quot;Even though Amber is someone who shies away from the spotlight, it was important for me to let people know I have this person in my life,&quot; Roberts, who also prefers to be private, tells PEOPLE. </p>
                <p>Roberts also revealed she still receives low-intensity chemotherapy shots every six to eight weeks and will continue to do so until the second anniversary of her bone marrow transplant later this year. </p>
                <p>Though there is a risk of a relapse, Roberts says, &quot;I look at what I did as a cure, not just as a stopgap measure. I have to hold onto that. Otherwise it would rob me of who I am.&quot; So far Roberts, who returned to the air last year, seems to be in the clear.</p>

                <div class="add-comment"></div>
                <div class="author">
                    <div class="pic">
                        <img src="/Content/images/author-pic.jpg" />
                    </div>
                    <div class="details">
                        <h4>ROBIN ROBERTS</h4>
                        <p>ANCHOR <span>|</span> GOOD MORNING AMERICA</p>
                        <a href="#">NEXT ARTICLE<span class="next-arrow"></span></a>
                    </div>

                </div>

            </article>
        </div><!--col-md-8 col-sm-7-->
        <!--ADS BANNERS - RIGHT-->
        <div class="col-md-4 col-sm-5">
            <a href="#"><img src="/Content/images/ads.jpg" /></a>
        </div><!--col-md-4 col-sm-5-->


    </div><!--row-->
</div>
<!--main container-->
