@{
    ViewBag.Title = "Pink Pony";
}


<div class="header" style="max-width:1280px">

    <div class="container-fluid no-padding">
        <div class="row no-padding">

            <div class="col-md-2 col-sm-3 no-padding">
                <div class="col-menu">
                    <!--Start - Main menu-->
                    <div class="nav-side-menu">
                        <a href="index.html" class="brand"></a>
                        <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>

                        <div class="menu-list">

                            <ul id="menu-content" class="menu-content collapse out">

                                <li data-toggle="collapse" data-target="#stories" class="collapsed">
                                    <a href="#">STORIES<span class="arrow"></span></a>
                                </li>
                                <ul class="sub-menu collapse" id="stories">
                                    <li><a href="#">Storie 1</a></li>
                                    <li><a href="#">Storie 2</a></li>
                                </ul>

                                <li data-toggle="collapse" data-target="#events" class="collapsed">
                                    <a href="#">EVENTS <span class="arrow"></span></a>
                                </li>
                                <ul class="sub-menu collapse" id="events">
                                    <li>Event 1</li>
                                    <li>Event 2</li>
                                </ul>

                                <li data-toggle="collapse" data-target="#learn" class="collapsed">
                                    <a href="#">LEARN<span class="arrow"></span></a>
                                </li>
                                <ul class="sub-menu collapse" id="learn">
                                    <li>Learn 1</li>
                                    <li>Learn 2</li>
                                </ul>

                                <li>
                                    <a href="#">SUPPORT</a>
                                </li>

                                <li>
                                    <a href="#">SHOP</a>
                                </li>

                                <li>
                                    <a href="#">ABOUT PINK PONY</a>
                                </li>

                            </ul>
                        </div>
                    </div><!--nav-side-menu-->
                    <!--End - Main menu-->
                </div><!--"col-menu-->
            </div><!--col-->




            <div class="col-md-10 col-sm-9 no-padding">
                <div class="col-right-header">
                    <!--start - hero image-->
                    <div class="hero-img">

                        <!-- Video in background -->
                        <div id='event-video-target'></div>
                        <!-- /Video in background -->
                        <div class="top-content">
                            <h4 class="pre-tittle">Story</h4>
                            <h1>Why We Fight</h1>
                            @*<p>by AUTHOR NAME</p>*@
                        </div>
                        <div class="bottom-content">
                        </div>
                        <div class="pink-gradient">
                            <div class="p-top"></div>
                            <div class="p-mid"></div>
                            <div class="p-bottom"></div>
                        </div>
                    </div>



                    <div class="thumbnails">
                        <div id="owl-demo">
                            <div class="item">
                                <img src="/Content/images/SecondaryPhoto1.jpg" alt="Owl Image">
                                <div class="bottom-content">
                                    <h3>8 Ways to Help Fight Cancer from a Distance</h3>
                                    <p class="by"><span class="pre-pink">SUPPORT</span>from Shirzad Chamine</p>
                                    <a href="#" class="tiny-links"><i class="fa fa-file-text-o"></i>SUMMARY</a>
                                    <a href="#" class="tiny-links"><i class="fa fa-share-alt"></i>SHARE</a>
                                </div>
                                <div class="mask"></div>
                            </div>

                            <a class="item smoke-caption" href="/Home/Detail">
                                <img src="/Content/images/SecondaryPhoto2.jpg" alt="Owl Image">
                                <div class="bottom-content">

                                    <h3>Nina Hyde:<br />Her Survival Story</h3>
                                    <p class="by"><span class="pre-pink">STORY</span>Charles Schwab</p>
                                    <div class="tiny-links"><i class="fa fa-file-text-o"></i>SUMMARY</div>
                                    <div class="tiny-links"><i class="fa fa-share-alt"></i>SHARE</div>

                                </div>
                                <div class="mask"></div>
                            </a>

                            <div class="item">
                                <div class="smoke-caption">
                                    <img src="/Content/images/SecondaryPhoto3.jpg" alt="Owl Image">
                                    <div class="bottom-content">
                                        <h3>Facts and Myths: Life of a Cancer Patient</h3>
                                        <p class="by"><span class="pre-pink">EDUCATION</span>from Joshua Wu</p>
                                        <a href="#" class="tiny-links"><i class="fa fa-file-text-o"></i>SUMMARY</a>
                                        <a href="#" class="tiny-links"><i class="fa fa-share-alt"></i>SHARE</a>
                                    </div>
                                    <div class="mask"></div>
                                </div><!--smoke caption-->
                            </div>

                        </div><!--owl-demo-->
                    </div><!--thumbnails-->

                </div><!--col-right-header-->

            </div><!--col-->

        </div>
    </div>

</div>
<!--header container-->
<div class="container">
    <div class="row">

        <!--LASTEST ARTICLES-->
        <div class="col-md-8 col-sm-7">

            <h6 class="category" style="margin:60px 0 10px 0">THE LATEST</h6>

            <section>
                <div class="row">
                    <div class="col-md-2">
                        <p class="post-date">2 Hours Ago</p>
                    </div><!--col-md-2-->

                    <div class="col-md-5">
                        <img src="/Content/images/TertiaryPhoto1.png" />
                    </div><!--col-md-5-->

                    <div class="col-md-5">
                        <a href="#">
                            <h3>How Stuart Scott Championed a Movement</h3>
                        </a>
                        <p class="by"><span class="pre-pink">STORY</span>from Shirzad Chamine</p>
                        <a href="#" class="tiny-links"><i class="fa fa-file-text-o"></i>SUMMARY</a>
                        <a href="#" class="tiny-links"><i class="fa fa-share-alt"></i>SHARE</a>
                    </div><!--col-md-5-->
                </div><!--row-->
            </section>

            <section>
                <div class="row">
                    <div class="col-md-2">
                        <p class="post-date">Mar. 18, 2015</p>
                    </div><!--col-md-2-->

                    <div class="col-md-5">
                        <img src="/Content/images/TertiaryPhoto2.png" />
                    </div><!--col-md-5-->

                    <div class="col-md-5">
                        <a href="#">
                            <h3>Early Detection Methods for Lung Cancer</h3>
                        </a>
                        <p class="by"><span class="pre-pink">EDUCATION</span>from Shirzad Chamine</p>
                        <a href="#" class="tiny-links"><i class="fa fa-file-text-o"></i>SUMMARY</a>
                        <a href="#" class="tiny-links"><i class="fa fa-share-alt"></i>SHARE</a>
                    </div><!--col-md-5-->
                </div><!--row-->
            </section>

            <section>
                <div class="row">
                    <div class="col-md-2">
                        <p class="post-date">Mar. 18, 2015</p>
                    </div><!--col-md-2-->

                    <div class="col-md-5">
                        <img src="/Content/images/TertiaryPhoto3.png" />
                    </div><!--col-md-5-->

                    <div class="col-md-5">
                        <a href="#">
                            <h3>8 Ways to Help Fight Cancer from a Distance</h3>
                        </a>
                        <p class="by"><span class="pre-pink">SUPPORT</span>from Shirzad Chamine</p>
                        <a href="#" class="tiny-links"><i class="fa fa-file-text-o"></i>SUMMARY</a>
                        <a href="#" class="tiny-links"><i class="fa fa-share-alt"></i>SHARE</a>
                    </div><!--col-md-5-->
                </div><!--row-->
            </section>

            <section>
                <div class="row">
                    <div class="col-md-2">
                        <p class="post-date">Mar. 17, 2015</p>
                    </div><!--col-md-2-->

                    <div class="col-md-5">
                        <img src="/Content/images/TertiaryPhoto4.png" />
                    </div><!--col-md-5-->

                    <div class="col-md-5">
                        <a href="#">
                            <h3>Juliana Rancic and Her Recovery Story</h3>
                        </a>
                        <p class="by"><span class="pre-pink">STORY</span>from Shirzad Chamine</p>
                        <a href="#" class="tiny-links"><i class="fa fa-file-text-o"></i>SUMMARY</a>
                        <a href="#" class="tiny-links"><i class="fa fa-share-alt"></i>SHARE</a>
                    </div><!--col-md-5-->
                </div><!--row-->
            </section>

            <section>
                <div class="row">
                    <div class="col-md-2">
                        <p class="post-date">Mar. 16, 2015</p>
                    </div><!--col-md-2-->

                    <div class="col-md-5">
                        <img src="/Content/images/TertiaryPhoto5.png" />
                    </div><!--col-md-5-->

                    <div class="col-md-5">
                        <a href="#">
                            <h3>Understanding How Cancer Actually Grows</h3>
                        </a>
                        <p class="by"><span class="pre-pink">STORY</span>from Shirzad Chamine</p>
                        <a href="#" class="tiny-links"><i class="fa fa-file-text-o"></i>SUMMARY</a>
                        <a href="#" class="tiny-links"><i class="fa fa-share-alt"></i>SHARE</a>
                    </div><!--col-md-5-->
                </div><!--row-->
            </section>

        </div><!--col-md-8 col-sm-7-->
        <!--ADS BANNERS - RIGHT-->
        <div class="col-md-4 col-sm-5">
            <a href="#"><img src="/Content/images/ads.jpg" /></a>
        </div><!--col-md-4 col-sm-5-->

    </div><!--row-->
</div>
<!--main container-->

<script src="//jwpsrv.com/library/QFdjbt6rEeKWSxIxOQulpA.js"></script>
<script type="text/javascript">
    var playerInstance = jwplayer("event-video-target");
    playerInstance.setup({
        file: "//s3.amazonaws.com/tr-web-v2/video/vid.mp4",
        image: "//example.com/uploads/myPoster.jpg",
        width: '100%',
        height: '100%',
        autostart: true,
        controls: false,
        aspectratio: '16:9',
        mute: true,
        repeat: true
    });
</script>